streamlit
scikit-learn
pandas
numpy
matplotlib
seaborn
spacy>=3.7.2<=3.8.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
transformers
scipy
torch
openpyxl
